.go {
	padding: 7px 15px;
	background-color: black;
	border-radius: 5px;
	color: white;
	float: right;
	margin: 5px;
	font-size: 24px;
	text-decoration: none;
}

.board {
	float: left;
	margin-bottom: 25px;
}

.cta {
	width:25%;
	height: 120px;
	border: 3px solid black;
	border-radius: 5px;
	font-size: 30px;
	line-height: 110px;
	padding: 0 20px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 5%;
	float: left;
	cursor: pointer;
}

.cta-0 {
	background-color: green;
	color: white;
}

.ctas {
	width: 100%;
	clear: both;
	float: left;
	margin: 12% 0;
}

.ctas a{
	text-decoration: none;
	color: white;
}
.ctas a:visited{
	color: white;

}
