body {
	padding: 0;
	margin: 0;
}
.go {
	padding: 7px 15px;
	background-color: black;
	border-radius: 5px;
	color: white;
	float: right;
	margin: 5px;
	font-size: 24px;
	text-decoration: none;
}

.board {
	float: left;
	margin-bottom: 25px;
}

.cta {
	width:17%;
	height: 80px;
	border: 3px solid black;
	border-radius: 5px;
	font-size: 27px;
	line-height: 72px;
	padding: 0 20px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 3%;
	float: left;
	cursor: pointer;
}

.cta-1 {
	background-color: blue;
	color: white;
}
.cta-0 {
	background-color: green;
	color: white;
}
.cta-2 {
	background-color: red;
	color: white;
}

.ctas {
	width: 100%;
	clear: both;
	float: left;
	margin: 12% 0;
}

.ctas a{
	text-decoration: none;
	color: white;
}
.ctas a:visited{
	color: white;

}
#content {
	width: 480px;
	margin: 120px auto 10px;
}

#content img {
	width: 640px;
	position: relative;
	left: -80px;
}

#content p {
	font-size: 16px;
	line-height: 24px;
	width: 480px;
}

.board {
	margin-bottom: 80px;
}

#footer {
	width: 100%;	
	margin: 20px 0;
	background-color: black;
	height: 192px;
	float: left;
}

.footcont {
	width: 480px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 10px;
	line-height: 24px;
}

.footcont a,.footcont a:visited{
	color: white;
}
.ctam {
	width:30%;
	height: 42px;
	border: 3px solid black;
	border-radius: 5px;
	font-size: 12px;
	line-height: 42px;
	padding: 0 20px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 5%;
	float: left;
	cursor: pointer;
	background-color: green;
	margin-top: 20px;
	color: white;
	position: relative;
	left: -10px;
}


.cta a, cta a:visited {
	color: white !important;
	font-family: serif;
	font-weight: bold;
}

.cta-2 {
	height: 90px;
	position: relative;
	top: -5px;
	line-height: 82px;
	font-size: 32px;
}

a.go {
	display: none;
	color: white !important;
}
