#settingswrap {
	width: 800px;
	margin: 2% 5% 0% 20%;
	float: left;
}
#settings div.conf {
	float: left;
	clear: both;
	width: 100%;
}
#settings div.conf label {
	display: block;
	width: 25%;
	float: left;
}
#settings div.conf input {
	width: 69%;
	float: left;
}

#keydialog {
	border: 1px solid black;
	height: 20%;
	width: 400px;
	opacity: 0.9;
	position: absolute;
	z-index: 100;
	background-color: white;
	display: none;
}

#keydialog span {
	display: block;
}
#newkey {
	width: 20%;
	margin-left: 40%; 
	min-height: 30px;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;
}
