#header{ 
	width: 100%;	
	text-align:right;
	position:relative;
	top: 25px;
}

#header a {
	margin-right: 27px;
	text-transform: uppercase;
	font-size: 24px;
}
#header a, #header a:visited {
	color: #000;
	text-decoration: none;
}
#logo img {
	height: 128px;
	top: 25px;
	position: absolute;
}

#game {
	width: 1024px;
	height: 768px;
	background-color: black;
	margin: 0px auto;
}

#help{
	width: 640px;
	height: 480px;
	margin: 50px auto;
	font-size: 12px;
}

.cont {
	width: 50%;
	float: left;
}
.cont-100 {
	width: 100%;
	float: left;
}

#menu {
	width: 640px;
	margin: 20px auto 10px;
}

#credits {
	margin-top: 30px;
	width: 1024px;
	margin: 0 auto;
}

#credits a,#credits a:visited{
}

#content a, #content a:visited{
	color: black;
}
